- if logged_in?
  = render 'shared/user_info'

  = link_to "create", new_path, method: "post", remote: true

  - if current_user.entries.tag_counts_on(:tags).any?
    = render 'shared/tags'

  - if current_user.entries.any?
    %div.entries-section
      = render partial: 'shared/entries', locals: { entries: current_user.entries }

  = render 'shared/entry_form'


- else
  %p StaticHome
