= link_to "Home", root_url

= simple_form_for @entry, :remote => true do |f|
  = render 'shared/error_messages', object: f.object
  = f.input_field :title, placeholder: "Title"
  = f.trix_editor :content
  = f.submit 'Save'
