%p= gravatar_for @user
%p= @user.name
%p= @user.email

- if @user.entries.any?
  = render @entries

= simple_form_for @entries.build, remote: true do |f|
  = render 'shared/error_messages', object: f.object
  = f.input_field :title, placeholder: "Title"
  = f.trix_editor :content
  = f.button :submit
